@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

:root
{
    --primary-color: rgb(76, 95, 249);
    --secondary-color: rgb(225, 244, 244);
    
}

body
{
    font-family: "Unbounded";
}
.hero
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 40px;
}
.hero .hero_bg
{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29,29,29);
}
.hero .hero_bg img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.33;
}
.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 65px;
}
.logo
{
    height: auto;
    width: auto;
    position: relative;
}
.logo span
{
    position: absolute;
    font-size: 70px;
    color: rgb(76, 95, 249);
    line-height: 0;
    bottom: 30px;
    right: -15px;
}
.socialIcons
{
    display: flex;
    align-items: center;
    padding-right: 120px;
}
.socialIcons a
{
    text-decoration: none;
}
.socialIcons i
{
    border-radius: 50%;
    background-color: var(--primary-color);
    width: 53px;
    height: 53px;
    display: grid;
    place-content: center;
    font-size: 14px;
    color: rgb(255,255,255);
    margin: 0 5px;
    transition: 0.1s linear;
}
.socialIcons .fa-facebook-f
{
    background-color: rgb(0, 94, 222); 
}
.socialIcons .fa-twitter
{
    background-color: rgb(0, 160, 243);     
}
.socialIcons .fa-linkedin-in
{
    background-color: rgb(0, 110, 222);
}
.socialIcons .fa-youtube
{
    background-color: rgb(226, 11, 5);  
}
.socialIcons i:hover
{
    padding-bottom: 10px;
}
#heroSlider
{
    flex: 1;
    display: grid;
    align-content: center;
}
.slider_caption
{
    width: 100%;
    height: 100%;
    text-align: center;
}
.headermsg
{
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.main-heading
{
    font-size: 50px;
    font-weight: 900;
    color: rgb(255, 255, 255);
} 
.main-heading .highlight
{
    display: block;
    font-weight: 300;
    color: var(--primary-color);
}
.slider_btn, .u_btn
{
    border: solid 4px rgb(255, 255, 255);
    background-color: transparent;
    width: 252px;
    height: 95px;
    font-size: 18px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    font-weight: bold;  
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.slider_btn, .u_btn span
{
    position: relative;
}
.u_btn::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    clip-path: circle(0% at 0 0);
    transition: 0.5s;
    opacity: 0;
}
.u_btn:hover
{
    color: rgb(29,29,29);
}
.u_btn:hover::before
{
    opacity: 1;
    clip-path: circle(141.4% at 0 0);
}

.carousel-indicators [data-bs-target]
{
    background-color: rgb(255, 255, 255);
    opacity: 0.102;
    width: 25px;
    height: 25px;
    margin: 0 10px;
}
.carousel-indicators .active
{
    opacity: 1;
}
.services
{
    width: 100%;
    display: grid;
    align-content: center;
    min-height: 200px;
    padding: 120px 0;
}
.services_caption
{
    width: 100%;
    text-align: center;
    height: auto;
    margin-bottom: 60px;
}
.services_caption .tag
{
    font-size: 14px;
    color: var(--primary-color);
    text-transform: uppercase; 
    letter-spacing: 2px;
}
.services_caption h3
{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1px;
}
.services_single
{
    border: solid 1px rgb(232, 232, 232);
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 200px;
    transition: 0.45s;
    position: relative;
    margin-bottom: 20px;
}
.services_single:hover
{
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05),inset 0px -4px 0px 0px rgba(76, 95, 249, 0.004);

}
.services_single::before
{
    content: "";
    width: 0;
    height: 5px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.45s;
}
.services_single:hover::before
{
    width: 100%;
}
.services_single img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_service
{
    padding: 40px 40px;
    text-align: center;
}
.about_service h3
{
    font-size: 26px;
    color: rgb(24, 24, 24);
    font-weight: bold;
}
.about_service p
{
    font-size: 15px;
    color: rgb(127, 127, 127);
    margin-top: 30px;
}
.base {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05),inset 0px -4px 0px 0px rgba(76, 95, 249, 0.004);
    position: absolute;
    left: 782px;
    top: 1607px;
    width: 370px;
    height: 240px;
    z-index: 49;
  }
.customer_feedback
{
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}
.feedbackForm
{
    position: relative;
    flex: 1;
    padding: 75px 0;
}
.footer_bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer_img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video_bg
{
    position: relative;
    width: 100%;
    display: grid;
    height: 100%;
    display: grid;
    place-content: center;
}
.video_bg img
{
    position: absolute;
    top: 0;
    left: 0;
}
.playbtn
{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 30px 160px 0px rgba(0, 0, 0, 0.1);
    width: 132px;
    height: 132px;   
    position: relative;
    display: grid;
    place-content: center;
    cursor: pointer;
}
.playbtn svg
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 17px;

}
.playbtn svg textPath
{
    font-family: "Exo2";
    fill: rgb(22, 29, 57);
    font-weight: bold;
    text-transform: uppercase;
}
.playbtn i
{
    font-size: 30px;
    color: var(--primary-color);  
}
  





























.productRating
{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 79px 0px rgba(0, 0, 0, 0.11);
    width: 100%;
    min-height: 300px;  
    padding: 70px 60px;
    position: relative;
}
.ratingHead
{

    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.ratingHead h2
{
    font-size: 23px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 0;
}
form
{
    width: 100%;
    height: auto;

}

/* rating bar */
.ratingBar
{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 50px;
}
.rangeNumber
{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    height: 30px;
}
.rangeNumber span
{
    font-size: 18px;
    color: rgb(40, 40, 40);
    font-weight: bold;  
    transition: 0.5s;
}
.rangeNumber span.active
{
    color: var(--primary-color);
    font-size: 20px;
    transform: translateY(-3px);
}

.ratingBar input
{
    -webkit-appearance: none;
    width: 100%;
    background-color: var(--secondary-color);
    height: 10px;
    border-radius: 100px;
    margin-bottom: 15px;
    background: linear-gradient(to right, var(--primary-color) 0%, var(--primary-color) 0%, var(--secondary-color) 0%, var(--secondary-color) 100%);

}

/* styling range thumb */
.ratingBar input::-webkit-slider-thumb
{
    -webkit-appearance: none;
    border: 5px solid rgb(245, 245, 245);
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background: var(--primary-color);
    cursor: pointer;
}
.ratingBar input::-moz-range-thumb
{
    border: 5px solid rgb(245, 245, 245);
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background: var(--primary-color);
    cursor: pointer;
}
.ratingBar input::-ms-thumb
{
    border: 5px solid rgb(245, 245, 245);
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background: var(--primary-color);
    cursor: pointer;
}
.likeThumb
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thumbsingle
{
    display: flex;
    align-items: center;
}
.thumbsingle img
{
    margin: 0 6px;
}
.thumbsingle p
{
    font-size: 12px;
    color: rgb(40, 40, 40);
    margin-bottom: 0;
}
  



form textarea
{
    background-color: var(--secondary-color);
    width: 100%;
    height: 200px;
    resize: none;
    border: solid 2px transparent;
    padding: 25px 20px;
    transition: 0.5s;
    margin-bottom: 20px;
}
:focus
{
    outline: none;
    border-color: var(--primary-color);
}
::placeholder
{
    font-size: 13px;
    color: rgb(40, 40, 40);
}
.formHead
{
    font-size: 18px;
    color: rgb(40, 40, 40);
    font-weight: 500;
    margin-bottom: 30px;
}
.line
{
    background-color: rgb(237, 237, 237);
    height: 1px; 
    width: 100%;
    margin: 30px 0;
}

.inputLabel
{
    font-size: 15px;
    color: rgb(41, 41, 41);
    font-weight: 500;
}
.radio
{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.radio-single
{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.radio-single input
{
    -webkit-appearance: none;
    border: solid 2px rgb(189, 203, 230);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 32px;
    height: 32px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
.radio-single input::before
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(60, 112, 255);
    width: 18px;
    height: 18px;
    display: none;
}
.radio-single input:checked:before
{
    display: block;
}
.submit
{
    border-radius: 10px;
    background-color: var(--primary-color);
    height: 54px;   
    width: 100%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;    
    text-transform: capitalize;
    margin-top: 40px;
    border: 0;
    position: relative;
    overflow: hidden;
    z-index: 10;
}
.submit::before, .submit::after
{
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    background-color: rgba(255, 255, 255,0.5);
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0, 100% 0, 50% 100%, 0% 100%);
    transition: 0.4s;
    z-index: 0;


}
.submit:hover::before,.submit:hover::after
{
    right: -100%;
}
.submit::after
{
    transition-delay: 0.2s;
}
.form_obj
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    pointer-events: none;
}


.copyright
{
    background-color: rgb(21,21,21);
    width: 100%;
    height: 100px;
    font-size: 14px;
    color: rgb(164, 164, 164);
    font-weight: bold;
    display: grid;
    place-content: center;
}
  
  